<div id="wiki-wrapper" class="edit">
<div id="head">
  <h1>Editing <strong>{{title}}</strong></h1>
  <ul class="actions">
    <li><a href = "{{base_url}}/{{escaped_url_path}}"><button class = "btn btn-primary">View Page</button></a></li>
    <li><a href = "{{base_url}}/history/{{escaped_url_path}}"><button class = "btn btn-primary">History</button></a></li>
  </ul>
</div>
  <div id="wiki-content">{{>editor}}</div>
</div>
